<div class = "hisCredits">
  <h2> History Credit Requirements: </h2>

  <h3> Necessary Courses to Fulfill Graduation Requirements </h3>

  <button class = "button"> {{his1.name}} </button>
  <button class = "button"> {{his2.name}}</button>
  <button class = "button"> {{his3.name}} </button>

<h4> History Electives - Do Not Factor Into In Course Requirements For Graduation  </h4>

  <button class = "button"> Current Events </button>
  <button class = "button"> Government and Politics </button>

</div>
